*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
}

.header-wrapper {
  margin: 5% 5% 20% 5%;
}

.accordion-item {
  background-color: #fff;
  border: none !important;
}

.accordion-button {
  display: grid !important;
  grid-template-columns: 0.95fr 0.05fr;
  padding: 0.5rem 0 0.5rem 0 !important;
  align-items: center;
}

.header-wrapper ul li a {
  padding-left: 0 !important;
}
