*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
}

main {

}

.header-wrapper-mobile {
  margin: 5% 5% 20% 5%;
  height: 45vh;
}

.header-wrapper-mobile .container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* .header-wrapper-mobile .navbar,
.header-wrapper-mobile .navbar .container-fluid {
  height: 100% !important;
} */

.main-wrapper {
  margin: 0 5% 0 5%;
}

.footer-wrapper {
  margin: 0 5% 0 5%;
}

.accordion-item {
  background-color: #fff;
  border: none !important;
}

.accordion-button {
  display: grid !important;
  grid-template-columns: 0.95fr 0.05fr;
  padding: 0.5rem 0 0.5rem 0 !important;
  align-items: center;
}

.our-story,
.our-mission {
  margin-bottom: 40%;
}

.our-story h6 {
  font-size: 0.8rem;
}

.our-story h1 {
  font-size: 3rem;
}

.our-mission h1 {
  font-size: 3rem;
}

.our-story a {
  text-decoration: none;
  color: black;
  width: 35% !important;
}

.our-mission .part-3 {
  margin-bottom: 25%;
}

.header-wrapper-mobile ul li a {
  padding-left: 0 !important;
}

.our-story a:hover {
  border: 1px solid black;
  color: #000;
}

.our-story .card {
  border: none;
}

.our-mission .card {
  border: none;
}

.our-story .arrow-button {
  width: 20%;
}

.our-mission .part-1 {
  margin-bottom: 15%;
}

.cube-icon {
  width: 50%;
  font-size: 80px !important;
}

/* .d-grid2 {
  grid-template-columns: 1fr !important;
  grid-template-rows: 1fr !important;
} */

.a-tag {
  display: table;
  place-items: center;
  width: 2rem !important;
}

.our-mission .part-4 img {
  width: 100% !important;
}

.meet-our-team .headers h1,
.meet-our-team .headers h2 {
  margin-bottom: 7%;
}

.team-members .card {
  border: none;
}

.team-members .card img {
  width: 40% !important;
  border-radius: 50% !important;
}

.team-members .card a {
  text-decoration: none !important;
}

.team-members .card a span {
  position: relative;
  top: 50%;
}

.bi {
  color: #000 !important;
}

.basketball {
  color: #000 !important;
  font-size: 21px !important;
}

.basket-ball-case {
  margin-top: 20% !important;
}

.were-hiring button {
  width: 60% !important;
  background-color: white !important;
  color: #000 !important;
  border-radius: 0 !important;
  padding: 8px !important;
  border: none;
}

.were-hiring button:hover {
  border: 1px solid #000 !important;
}

.bi-star-fill {
  font-size: 1.5rem !important;
}

.video-section .name {
  border-right: 1px solid #000 !important;
}

.video-section .name .fs-5 {
  font-size: 1rem !important;
}

.video-section .name .fs-6 {
  font-size: 0.8rem !important;
}

.video-section .division {
  height: 5% !important;
}

.get-in-touch-section {
  padding-bottom: 40%;
}

.stay-connected {
  margin-bottom: 15%;
}

.stay-connected h1 {
  font-size: 1.2rem !important;
}

.stay-connected p {
  font-size: 1rem !important;
}

.stay-connected .email-form {
  display: initial !important;
}

.footer-links-mobile li {
  margin-bottom: 3%;
}

.footer-wrapper .line {
  margin-top: 15%;
  margin-bottom: 8%;
}

.logo {
  margin-bottom: 5%;
}

.header-wrapper {
  display: none;
}

.large-screen-bg {
  display: none !important;
  position: absolute;
  visibility: hidden;
}

.tables {
  border-bottom: 1px black solid;
  border-top: 1px black solid;
  padding: 10% 0;
  margin-bottom: 5%;
}

.tables ul {
  padding: 0 !important;
}

footer .bottom {
  padding-bottom: 10%;
}

table {
  display: none !important;
}

/* .large-screen-bg {
  display: none !important;
} */
